header{
  position:sticky;
  top:0;
  width: 100%;
  display:flex;
  background-color:#245FB7;
  justify-content: space-evenly;
  height: 70px;
  }
  h1{
    position: sticky;
  }
  h1, legend{
    text-align: center;
  }
  body{
    font-family: sans-serif;
    background-color: #245FB7;
    color: #ffffff
  }
  fieldset{
    background-color: #ffffff;
    color: black;
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  button:hover{
    background-color: black;
    color: white;
  }